@charset "UTC-8";

body{
    background-color: hsla(0, 0%, 67%, 0.349);
    font-family: Arial, Helvetica, sans-serif; 
    image-rendering: optimizeSpeed;
    
    
}

h1.teste{

    color: blueviolet;
    color-adjust: economy;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-width: thick;
    border-radius: 3vmax;
    border-color: rgb(70, 70, 255);
    background-color: rgb(150, 224, 247);
    align-items: center;
    animation: infinite;
    text-shadow: 3px 2px 55px rgb(0, 0, 0);
}

img {
    width: 15%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
  }

  p{
      text-align: justify;
      text-align: initial;
  }

div {
    border: 3px solid #c48691;
    background-color: rgb(250, 212, 255);
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;  
  }
  

.image2{
      float: right;
  }

  
.clearfix::after{
    content: "";
    clear: both;
    display: table;
  }

.teste2{
  border: 3px solid #c48691;
  background-color: rgb(250, 212, 255);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 1px;
  margin-right: 400px;
  margin-left: 400px;  
  list-style-position: inside;
}

.gif{
  
  right: 100px;
}